<div class="container body-content">
    <div class="well">
    <div class="row">
        <div class="col-md-12">



               <p>
                   <img src="http://www.adaptationclearinghouse.org/images/pic.png" style="width:150px;height:150px;">
               </p>

                <h2>
                   Name: {{user.fullName}}
                </h2>
            <h2>
                Email: {{user.email}}
            </h2>
            <h2>
                 Gender: {{user.maleOrFemale}}
            </h2>
            <h2>
                Birth (Year): {{user.birth}}
            </h2>





                <footer>

                </footer>

        </div>
    </div>
    </div>
</div>