<div class="form-group">
    <div class="col-md-12">
        <center>
   <h2>How to use The Hidden Library</h2>
            <h4>1. In order to add a new book, first you have to press <a href="register" >Register</a> button and complete the registration.</h4>
            <h4>2. You can delete and edit information about your books but you are not allowed to operate with other books!</h4>
            <h4>3. Complete all the information about each book in correct form!</h4>
            <h4>4. You can download books for free, without any registration.</h4>
            <h4>5. The administrator can operate with all the books, which includes editing and deleting!</h4>
            <h4>6. Please, do not add any books without a permission. The author rights are checked very strictly!</h4>
            <h4>7. For more information you can check <a href="ourProject" >About our Project.</a></h4>
        </center>
    </div>

</div>