<div class="container body-content span=8 offset=2">
    <div class="well">
        <form class="form-horizontal" method="post" action="/user/help">
            <div class="text-center">
                <h2>How to use The Hidden Library</h2>
                <h4>1. In order to add a new book, first you have to complete the registration.</h4>
                <h4>2. You can delete and edit information about your books but you are not allowed to operate with other books!</h4>
                <h4>3. Complete all the information about each book in correct form!</h4>
                <h4>4. You can download books for free, without any registration.</h4>
                <h4>5. The administrator can operate with all the books, which includes editing and deleting!</h4>
                <h4>6. Please, do not add any books without a permission. The author rights are checked very strictly!</h4>
                <h4>7. Txt format does not support Cyrillic - plese use only English books in this format - only for visualization. </h4>
                <h4>8. For more information you can check <a href="ourProject" >About our Project.</a></h4>

            </div>
        </form>
    </div>
</div>