<div class="form-group">
    <div class="col-md-12">
        <center>
            <h2>About our Project</h2>
            <h4>The Hidden Library is a github project developed in JavaScript. We used ExpressJS and MongoDB for Database.
                The idea behind our project is to create a site where the users could share pdf books for free. Our aim is to build
                a simple, but effective platform where the users have the potention not only to upload and download books, but to white
                summaries, to rate them. The project is relatively small, but it have a real target - to give a posibility for the publishers
                and active readers.
            </h4>

            <img src="http://astrologyking.com/wp-content/uploads/andromeda-galaxy.jpg"  alt="Andromeda" style="width:700px;height:550px;">

            <h4>
                This is a <a href="https://github.com/martus1992/Hidden-Library">github link</a>  containing the souce code. You can find detailed documentation about our project in <a href="http://localhost:63342/Hidden-Library/public/music/mobile/index.html#p=1"> this flip page pdf!</a>
            </h4>
            <h4>by Andromeda team</h4>
        </center>
    </div>

</div>