<div class="container body-content span=8 offset=2">
    <div class="well">
        <form class="form-horizontal" method="post" action="/user/ourProject">
            <div class="text-center">
                <div class="form-group">
                    <div class="col-md-12">
                        <h2>About our Project</h2>
                        <br/>
                        <h4>The Hidden Library is a github project developed in JavaScript. We used NodeJS,ExpressJS and MongoDB for Database.
                            The idea behind our project is to create a site where the users could share pdf books for free. Our aim is to build
                            a simple, but effective platform where the users have the potential not only to upload and download books, but to write
                            summaries, to rate them. The project is relatively small, but it has a real target - to give a possibility for the publishers
                            and active readers.
                        </h4>
                        <br/>
                        <img src="http://astrologyking.com/wp-content/uploads/andromeda-galaxy.jpg"  alt="Andromeda" style="width:700px;height:550px;">
                        <br/>
                        <br/>
                        <h4>
                            This is a <a href="https://github.com/martus1992/Hidden-Library">github link</a>  containing the source code. You can find
                            detailed documentation about our project in <a href="http://localhost:63342/Hidden-Library/public/music/mobile/index.html#p=1">
                            this flip page pdf!</a>
                        </h4>
                        <h4>by Andromeda team</h4>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>