<div class="container body-content span=8 offset=2">
    <div class="well">
        <form class="form-horizontal" method="post" action="/home/index">
            <div class="text-center">
                <h1>Welcome to the Hidden Library</h1>
                <br/>
                <h4>
                    <ul>This is a place where you can share your books with others. To contribute just register and upload your favorite book.</ul>

                </h4>
                <br/>
            </div>
        </form>
    </div>
</div>