<div class="container body-content span=8 offset=2">
    <div class="well">
        <form class="form-horizontal" enctype="multipart/form-data" method="POST" action="/book/create">
            <fieldset>
                <legend>Add New Book</legend>

                <div class="form-group">
                    <label class="col-sm-4 control-label" for="bookTitle">Book Title</label>
                    <div class="col-sm-4 ">
                        <input type="text" class="form-control" id="bookTitle" placeholder="Book Title" name="title" required >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="bookTitle">Book Author</label>
                    <div class="col-sm-4 ">
                        <input type="text" class="form-control" id="bookAuthor" placeholder="Book Author" name="bookAuthor" required >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="bookTitle">Signature</label>
                    <div class="col-sm-4 ">
                        <input type="text" class="form-control" id="signature" placeholder="Signature" name="signature" required >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="articleTitle">Year</label>
                    <div class="col-sm-4 ">
                        <input type="text" class="form-control" id="year" placeholder="Year" name="year" required >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="genre">Genre</label>
                    <div class="col-sm-6" >
                        <select class="form-control" id="genre" rows="5" name="genre">
                            <option value="Fiction">Fiction</option>
                            <option value="Comedy">Comedy</option>
                            <option value="Drama">Drama</option>
                            <option value="Horror">Horror</option>
                            <option value="Romance Novel">Romance Novel</option>
                            <option value="Fantasy">Fantasy</option>
                            <option value="Epic">Epic</option>
                            <option value="Saga">Saga</option>

                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="articleContent">Summary</label>
                    <div class="col-sm-6">
                        <textarea class="form-control" id="articleContent" rows="5" name="content" required></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="articleContent">Add pdf or txt</label>
                    <div class="col-sm-6">
                        <input class="form-control" id="music" type="file" name="music" ></input>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="format">Choose format</label>
                    <div class="col-sm-6" >
                        <select class="form-control" id="format" rows="5" name="format">
                            <option value="pdf">pdf</option>
                            <option value="txt">txt</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="articleComments">Rating</label>
                    <div class="col-sm-6" >
                        <select class="form-control" id="articleComments" rows="5" name="comments">
                            <option value="Excellent">Excellent</option>
                            <option value="Very good">Very good</option>
                            <option value="Good">Good</option>
                            <option value="Poor">Poor</option>

                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-4">

                        <button type="reset" class="btn btn-default">Cancel</button>

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
